{% extends 'main.html' %}
{% block content %}

<h1>list</h1>
{% include 'nav_bar.html'%}
<table border="2">
    
        <thead>
            <tr>
            <th>Tittle</th>
            <th>Year</th>
            <th>Summary</th>
            <th>edit/delete</th>
            </tr>
        </thead>
       
    
    {% for movie in movie_list %}
    <tbody>
    <tr>
        <td>{{movie.tittle}}</td>
        <td>{{movie.year}}</td>
        <td>{{movie.summary}}</td>
        <td><a href="{%url 'edit' movie.id %}">edit</a>/
        <a href="{%url 'delete' movie.id %}">delete</a></td>
        
    </tr>
    {% endfor%}
</tbody>
</table>

{% endblock%}